@model FPTDrink.Core.Models.Reports.VisitorStats
<div class="row g-2">
	<div class="col-6 col-md-3"><strong>Online:</strong> @Model.VisitorsOnline</div>
	<div class="col-6 col-md-3"><strong>Hôm nay:</strong> @Model.HomNay</div>
	<div class="col-6 col-md-3"><strong>Hôm qua:</strong> @Model.HomQua</div>
	<div class="col-6 col-md-3"><strong>Tuần này:</strong> @Model.TuanNay</div>
	<div class="col-6 col-md-3"><strong>Tuần trước:</strong> @Model.TuanTruoc</div>
	<div class="col-6 col-md-3"><strong>Tháng này:</strong> @Model.ThangNay</div>
	<div class="col-6 col-md-3"><strong>Tháng trước:</strong> @Model.ThangTruoc</div>
	<div class="col-6 col-md-3"><strong>Tất cả:</strong> @Model.TatCa</div>
</div>

